<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagina Prtincipal</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/estilos.css')}}">
</head>
<body>
    <h1>Wenas</h1>
    <nav>
        <table>

             <tr>
                 <td class="datos2"><a href="{{ url_for('luisa')}}">Luisa</a></td><td class="datos2"><a href="{{ url_for('william')}}">William</a></td><td class="datos2"><a href="{{ url_for('sergio')}}">Sergio</a></td>
             </tr>
         </table></center>
     </nav>
</body>
</html>