<!DOCTYPE html>
<html lang="es">
    <head>
        <title>Formación académica</title>
        <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/estilol.css')}}">
    </head>
    <body>
        <h1 align="center">Formación académica</h1>
        <section>
            <h3>Formación universitaria</h3>
            <p>Universidad Distrital Francisco José de Caldas</p><br>
            <p>Ingeniería de Sistemas</p><br>
            <p>Duración: en curso</p>
            <hr>
            <h3>Formación secundaria</h3>
            <p>Colegio Venecia IED</p><br>
            <p>Duración: 2011 - 2016</p>            
            <hr>
            <h3>Formación primaria</h3>
            <p>Colegio Venecia IED</p><br>
            <p>Duración: 2004 - 2010</p>
            <hr>
        </section>
        <nav class="navegar">
            <a href="{{ url_for('home')}}">Pagina principal</a>
            <a href="{{ url_for('luisa')}}">Luisa</a><br>
            <a href="{{ url_for('luisas')}}">Datos básicos</a><br>
            <a href="{{ url_for('luisat')}}">Formación</a><br>
            <a href="{{ url_for('luisac')}}">Intereses</a>
        </nav>
    </body>
</html> 